.hero-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 100%;

  .hero-text {
    font-size: 1.2rem;
    max-width: 480px;
    h2 {
      letter-spacing: 5px;
    }
  }
  img {
    border: 4px solid rgb(var(--accent-color));
    border-radius: 50%;
    width: 250px;
    height: auto;
  }
}

.highlight {
  color: rgba(var(--accent-color), 1);
}
