@mixin section {
  // padding: 0 1rem 1rem;
  max-width: 820px;
  h2 {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(var(--accent-color));
  }
}

@mixin card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition: all 0.3s ease;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;

  &:hover {
    border-color: rgba(var(--accent-color), 1);
    background-color: rgba(var(--accent-color), 0.1);
  }
}
